apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    targetRevision: 10.1.4 # check latest with `helm search repo grafana/grafana`
    helm:
      values: |
        adminUser: admin
        adminPassword: admin123

        service:
          type: ClusterIP
          port: 3000

        ingress:
          enabled: true
          className: nginx
          hosts:
            - host: grafana.local
              paths:
                - path: /
                  pathType: Prefix

        persistence:
          enabled: true
          size: 5Gi

        datasources:
          datasources.yaml:
            apiVersion: 1
            datasources:
              - name: Prometheus
                type: prometheus
                url: http://prometheus-operated.monitoring.svc:9090
                access: proxy
                isDefault: true
              - name: Loki
                type: loki
                url: http://loki.monitoring.svc.cluster.local:3100
                access: proxy
                jsonData:
                  maxLines: 1000
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
